.cell{
    width: 80px;
    height: 80px;
    border: 2px solid yellowgreen;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    
}

.cell span {
    vertical-align: middle;
    line-height: 16px;
}

body {
   
    background-color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}


#cells-container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color:brown;
    font-size: 25px;
    font-weight: 700;
    color: aliceblue;
}
#bingo {
    color: azure;
    text-align: center;
    font-size: 50px;
}
#button {
    text-align: center;
    width: 500px;
    height: 250px;
    border: 5px solid yellow;
    background-color: blueviolet;
    font-size: 50px;
    color:rgb(16, 16, 14);
    font-weight: 700;
}
#button:hover {
    border-color: rgb(113, 142, 164);
    background-color: rgb(46, 63, 41);
    cursor: pointer;
    color: aliceblue;
}
.highlight {
    border-color: rgb(113, 142, 164);
    background-color: rgb(46, 63, 41);
    cursor: pointer;
    color: aliceblue;
}
   